hmd-lang-deployment~=0.1.97
hmd-lang-timestamp-record==0.1.4
hmd-graphql-client~=0.1.171
hmd-cli-tools~=1.2.244
hmd-meta-types~=0.2.91
hmd-lib-auth~=0.1.126
hmd-lib-librarian-client~=0.1.111
pyyaml
jsonschema
hmd-base-service~=0.2.222
